
/* filter */

.filter {
  padding-left: 96px;
  padding-right: 96px;
}

.filter__in {
  background: #FFFFFF;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 31px 28px 47px 45px;
}


.filter__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #2B2F36;
  margin-bottom: 33px;
  padding: 0 88px;
}
.filter__form_section {}

.filter__row {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.filter__row:not(:last-child) {
  margin-bottom: 19px;
}
.filter__field {}

.filter__field_row {
  display: flex;
  align-items: center;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  overflow: hidden;
}

.filter__field_row input {
  height: 34px;
  border: none;
  padding: 0 15px;
  text-align: center;
}
.filter__field_row input:first-child {
  border-right: 1px solid #D6D6D6;
}

.filter__flexed {
  flex: 1 1 auto;
}
.filter__field input {
  width: 100%;
  box-sizing: border-box;
}
.filter__field_title {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.01em;
  margin-bottom: 12px;
  color: #B1BAC1;
}
.filter__field_item {
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  padding: 0 15px;
}

.filter__form {}

.filter__form_opener {
  display: flex;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 19px;
  cursor: pointer;
  user-select: none;
}
.filter__form_opener_left {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.filter__form_opener_left_icon {
  margin-right: 8px;
}
.filter__form_opener_left_text {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #A7ACAD;
}
.filter__form_opener_middle {
  flex: 1 1 auto;
  height: 1px;
  background: #ECECEC;
}
.filter__form_opener_right {
  margin-left: 30px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter__columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.filter__column {
  flex: 1 1 auto;
}

.filter__switch_mb:not(:last-child) {
  margin-bottom: 33px;
}

.filter__form_section_closed {
  display: none;
}
.filter__form_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 62px;
}
.filter__spacer {
  margin-bottom: 40px;
}
.filter__text_input {
  min-width: 25%;
}

.filter__form_button {
  border-radius: 29px;
  background: #F7C026;
  color: var(--filter-text, #2C2C2E);
  font-size: 13px;
  font-weight: 100;
  letter-spacing: -0.715px;
  padding: 14px 25px;
  cursor: pointer;
  white-space: nowrap;
}

.filter__form_filter_button {
  display: flex;
  padding: 3px 4px;
  padding-right: 9px;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: #F3F3F3;
  color: #7C7C7C;
  font-size: 13px;
  letter-spacing: -0.13px;
}

.filter__form_filter_button_clear {
  display: flex;
  padding: 3px 4px;
  padding-right: 9px;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: #848484;
  color: #FFF;
  font-size: 13px;
  letter-spacing: -0.13px;
}

.filter__form_filter_button svg {
  cursor: pointer;
}

.filter__form_buttons_left {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {

  .filter__form_buttons_left {
    margin-top: 15px;
  }

  .filter {
    padding-left: 0px;
    padding-right: 0px;
  }

  .filter_field {
    width: 100%;
  }

  .filter__field_title {
    color: #B1BAC1;
  }
  .filter__form_opener_left_text {
    font-weight: 400;
  }

  .filter__row {
    align-items: center;
  }
  
  .filter__field_subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.01em;

    color: #B1BAC1;
  }

  .filter__form_button_wrapper {
    display: flex;
    justify-content: center;
  }

  .filter__form_button_primary {
    margin-top: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: -0.055em;

    /* Filter text */

    color: #2C2C2E;

    background: #F7C026;
    border-radius: 29px;
    
    width: 227px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .filter__form_button_secondary {
    margin-top: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: -0.055em;

    /* Filter text */

    color: #ffffff;

    background: #848484;
    border-radius: 29px;
    
    width: 156px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;


  }

  .filter__title {
    font-size: 16px;
    line-height: 21px;
    padding: 0 30px;
  }

  .filter__in {
    padding: 15px 10px;
  }
}
