
/* filter */

.filter {
  padding-left: 96px;
  padding-right: 96px;
}
.filter__in {
  background: #FFFFFF;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 31px 28px 47px 45px;
}


.filter__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #2B2F36;
  margin-bottom: 33px;
}
.filter__form_section {}

.filter__row {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.filter__row:not(:last-child) {
  margin-bottom: 19px;
}
.filter__field {}

.filter__field_row {
  display: flex;
  align-items: center;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  overflow: hidden;
}

.filter__field_row input {
  height: 34px;
  border: none;
  padding: 0 15px;
  text-align: center;
}
.filter__field_row input:first-child {
  border-right: 1px solid #D6D6D6;
}

.filter__flexed {
  flex: 1 1 auto;
}
.filter__field input {
  width: 100%;
  box-sizing: border-box;
}
.filter__field_title {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.01em;
  margin-bottom: 12px;
}
.filter__field_item {
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  padding: 0 15px;
}

.filter__form {}

.filter__form_opener {
  display: flex;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 19px;
  cursor: pointer;
  user-select: none;
}
.filter__form_opener_left {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.filter__form_opener_left_icon {
  margin-right: 8px;
}
.filter__form_opener_left_text {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #A7ACAD;
}
.filter__form_opener_middle {
  flex: 1 1 auto;
  height: 1px;
  background: #ECECEC;
}
.filter__form_opener_right {
  margin-left: 30px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter__columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.filter__column {
  flex: 1 1 auto;
}

.filter__switch_mb:not(:last-child) {
  margin-bottom: 33px;
}

.filter__form_section_closed {
  display: none;
}