.filter__field input {
    width: 100%;
    box-sizing: border-box;
  }

  .filter__flexed {
    flex: 1 1 auto;
  }

  .filter__field_title {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.01em;
  }

  .filter__field_item {
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 0 4px 4px 0;
    text-align-last: center;
  }

  .phoneform__select {
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 4px 0 0 4px;
    text-align-last: center;
    font-family: 'Noto Color Emoji', sans-serif;
  }

  .phoneform {
        margin-top: 12px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        overflow: hidden;
  }

  .phoneform__option {
    font-family: 'Noto Color Emoji', sans-serif;
  }