.footer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.footer__in {
    width: 100%;
    max-width: 1100px;
}

.footer__logo {
    display: flex;
    justify-content: center;
}

.footer__section {
    margin-top: 68px;
    display: flex;
    justify-content: center;
    gap: 314px;
}

.footer__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 134.9%;
    /* identical to box height, or 19px */

    text-transform: uppercase;

    /* Filter text */

    color: #2C2C2E;
}

.footer__text {
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.9%;
    color: #B1BAC1;
}

.footer__icons {
    display: flex;
    gap: 11px;
    margin-top: 21px;
}

.footer__line {
    max-width: 1100px;
    margin-top: 80px;
    border: 2px solid #F3F4F4;
}

.footer__copyrigth {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #B1BAC1;
}