.wrapper {
  margin: 0;
}

.center {
  width: 100%;
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}


/* main */

.main {
  position: relative;
  z-index: 1;
}


/* temp */

.content {
  height: 1500px;
}