.wrapper {
    margin: 0;
    min-height: 100vh;
  }
  
  .center {
    width: 100%;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  
  /* main */
  
  .main {
    margin-top: 27px;
    position: relative;
    z-index: 1;
    display: flex;
    gap: 35px 25px;
  }
  
  
  /* temp */
  
  .content {
    height: 1000px;
  }
