.privilege {
    width: 314px;
}

.privilege_wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    gap: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: -0.01em;
}

.privilege__item {
    display: flex;
    gap: 6px;
    align-items: center;
}